<div class="container py-18 px-6 py-md-30 py-md-0">
  <!-- 立即訂購 -->
  <div class="policy_banner mb-12 mb-md-16">
    <div
      class="d-flex flex-column flex-md-row h-100 align-items-center justify-content-evenly justify-content-md-evenly align-items-md-center"
    >
      <div class="sub_title text-white text-center text-md-start">
        <span
          class="d-block h3 h-md-2 align-items-center justify-content-md-start"
          >還在為下廚煩惱？</span
        ><span class="d-none d-md-block Body-md"> 滿1,200元，整單免運 </span>
      </div>
      <div
        class="d-block d-md-none sub_title text-white text-center text-md-start"
      >
        <span class="Body2"> 滿1,200元，整單免運 </span>
      </div>
      <div>
        <div class="btn btn-small align-bottom Body2">
          <span class="icon-place-order-white me-6"></span>立即訂購
        </div>
      </div>
    </div>
  </div>
  <!-- 物流、退貨 政策 & 付款方式 -->
  <div
    class="d-flex flex-column flex-md-row align-items-center justify-content-evenly justify-content-md-evenly align-items-md-center"
  >
    <div class="d-flex flex-row justify-content-around mb-12">
      <img src="/assets/images/index/policy1-delivery.svg" alt="物流政策" />
      <div class="policy_item">
        <div class="h4 h-md-3">物流政策</div>
        <div class="bod2">全程冷鏈，最快隔日到貨</div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-around mb-12">
      <img src="/assets/images/index/policy2-return.svg" alt="退貨政策" />
      <div class="policy_item">
        <div class="h4 h-md-3">退貨政策</div>
        <div class="bod2">生鮮保障，瑕疵包退換</div>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-around mb-12">
      <img src="/assets/images/index/policy3-payment.svg" alt="付款方式" />
      <div class="policy_item">
        <div class="h4 h-md-3">付款方式</div>
        <div class="bod2">支援信用卡、轉帳、電子支付等方式</div>
      </div>
    </div>
  </div>
</div>
