<div class="about_banner" id="about_us">
  <div class="container-with-padding py-18 py-md-30">
    <div class="row">
      <div class="col-12 col-md-7 ms-auto">
        <div class="d-flex flex-column justify-content-evenly text-primary">
          <div class="h3 h-md-2">關於我們</div>
          <div
            class="d-flex flex-column flex-md-row justify-content-md-around p-md-16"
          >
            <img
              src="/assets/images/index/about-1-small.svg"
              alt="一步到位的食譜"
              class="d-block d-md-none w-50 mb-8"
            />
            <img
              src="/assets/images/index/about-1.svg"
              alt="一步到位的食譜"
              class="d-none d-md-block me-12"
            />
            <div>
              <div class="h5 h-md-2">一步到位的食譜</div>
              <div class="Body2 Body-md">
                我們提供各式食譜，從經典家常菜到異國料理一網打盡。
              </div>
            </div>
            <div></div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-md-around p-md-16"
          >
            <img
              src="/assets/images/index/about-2-small.svg"
              alt="食材一鍵選購"
              class="d-block d-md-none w-50"
            />
            <img
              src="/assets/images/index/about-2.svg"
              alt="食材一鍵選購"
              class="d-none d-md-block me-12"
            />
            <div>
              <div class="h5 h-md-2">食材一鍵選購</div>
              <div class="Body2 Body-md">
                食譜提供使用的食材，不需額外再花時間找！<br />
                當然也可以依照個人喜好來搜尋食材。
              </div>
            </div>
            <div></div>
          </div>
          <div
            class="d-flex flex-column flex-md-row justify-content-md-around p-md-16"
          >
            <img
              src="/assets/images/index/about-3-small.svg"
              alt="安心包裝配送"
              class="d-block d-md-none w-50"
            />
            <img
              src="/assets/images/index/about-3.svg"
              alt="安心包裝配送"
              class="d-none d-md-block me-12"
            />
            <div>
              <div class="h5 h-md-2">安心包裝配送</div>
              <div class="Body2 Body-md">
                全程低溫控管，確保食材新鮮安全送達。
              </div>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
