<div class="container-with-padding my-18 my-md-30 mx-auto">
  <!-- 人氣精選 上方文字 -->
  <div class="h3 h-md-2 text-primary mb-6">人氣精選</div>
  <div class="d-flex flex-row justify-content-between mb-24 mb-md-16">
    <div>
      <span class="btn btn-tab-primary me-12">食譜</span>
      <span class="btn btn-tab-primary-outline">食材</span>
    </div>
    <div class="Body2 text-black">
      全部 <span class="icon-arrow-right-tiny"></span>
    </div>
  </div>
  <!-- 人氣精選 卡片區  -->
  <div
    class="container-with-padding d-flex flex-row overflow-hidden mb-14 mb-md-22"
    id="selection-cards"
  >
    <!-- 1st Card -->
    <div class="selection-card">
      <img src="/assets/images/index/recipe4.jpg" alt="" />
      <div class="card_body d-flex flex-column justify-content-between">
        <div
          class="inner-size description-height d-flex flex-column justify-content-between"
        >
          <div class="d-flex flex-column justify-content-start">
            <div class="h4 mb-4 mb-md-2">味噌鮭魚湯</div>
            <div class="Body2 limit-length">
              溫潤味噌湯底配上鮮嫩鮭魚片，暖心暖胃的日式家常湯品。
            </div>
          </div>
          <div class="Body2">
            難度：<span class="rating-stars" data-rating="1"></span>
          </div>
        </div>
        <div class="inner-width d-flex flex-row justify-content-evenly">
          <div class="d-flex flex-column align-items-center">
            <div class="icon-clock mb-2"></div>
            <div class="Body2 text-primary">10分鐘</div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <div class="icon-people mb-2"></div>
            <div class="Body2 text-primary">4人份</div>
          </div>
        </div>
        <div class="btn btn-secondary inner-width">查看食譜</div>
      </div>
    </div>
    <!-- 2nd Card -->
    <div class="selection-card">
      <img src="/assets/images/index/recipe5.jpg" alt="" />
      <div class="card_body d-flex flex-column justify-content-between">
        <div
          class="inner-size description-height d-flex flex-column justify-content-between"
        >
          <div class="d-flex flex-column justify-content-start">
            <div class="h4 mb-4 mb-md-2">檸香奶油煎鮭魚</div>
            <div class="Body2 limit-length">
              外皮酥香、肉質鮮嫩，佐以檸檬的清爽與迷迭香的芳香，不需太多調味料就可以做出餐廳級的味道
            </div>
          </div>
          <div class="Body2">
            難度：<span class="rating-stars" data-rating="3"></span>
          </div>
        </div>
        <div class="inner-width d-flex flex-row justify-content-evenly">
          <div class="d-flex flex-column align-items-center">
            <div class="icon-clock mb-2"></div>
            <div class="Body2 text-primary">20分鐘</div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <div class="icon-people mb-2"></div>
            <div class="Body2 text-primary">2人份</div>
          </div>
        </div>
        <div class="btn btn-secondary inner-width">查看食譜</div>
      </div>
    </div>
    <!-- 3st Card -->
    <div class="selection-card">
      <img src="/assets/images/index/recipe2.jpg" alt="" />
      <div class="card_body d-flex flex-column justify-content-between">
        <div
          class="inner-size description-height d-flex flex-column justify-content-between"
        >
          <div class="d-flex flex-column justify-content-start">
            <div class="h4 mb-4 mb-md-2">黑胡椒蜜汁豬排</div>
            <div class="Body2 limit-length">
              外層香煎鎖汁，淋上香甜微辣的黑胡椒蜜汁，口感濃郁又下飯。
            </div>
          </div>
          <div class="Body2">
            難度：<span class="rating-stars" data-rating="4"></span>
          </div>
        </div>
        <div class="inner-width d-flex flex-row justify-content-evenly">
          <div class="d-flex flex-column align-items-center">
            <div class="icon-clock mb-2"></div>
            <div class="Body2 text-primary">20分鐘</div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <div class="icon-people mb-2"></div>
            <div class="Body2 text-primary">2人份</div>
          </div>
        </div>
        <div class="btn btn-secondary inner-width">查看食譜</div>
      </div>
    </div>
    <!-- 4st Card -->
    <div class="selection-card">
      <img src="/assets/images/index/recipe7.jpg" alt="" />
      <div class="card_body d-flex flex-column justify-content-between">
        <div
          class="inner-size description-height d-flex flex-column justify-content-between"
        >
          <div class="d-flex flex-column justify-content-start">
            <div class="h4 mb-4 mb-md-2">韓式泡菜炒豬肉</div>
            <div class="Body2 limit-length">
              微辣泡菜搭配鮮嫩豬肉，開胃又下飯，香氣撲鼻。
            </div>
          </div>
          <div class="Body2">
            難度：<span class="rating-stars" data-rating="4"></span>
          </div>
        </div>
        <div class="inner-width d-flex flex-row justify-content-evenly">
          <div class="d-flex flex-column align-items-center">
            <div class="icon-clock mb-2"></div>
            <div class="Body2 text-primary">20分鐘</div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <div class="icon-people mb-2"></div>
            <div class="Body2 text-primary">2人份</div>
          </div>
        </div>
        <div class="btn btn-secondary inner-width">查看食譜</div>
      </div>
    </div>
  </div>
  <!-- 人氣精選 card向左、向右按鈕-->
  <div class="w-100 d-flex justify-content-center">
    <div class="text-primary">
      <span
        class="icon-circle-arrow-left me-12"
        type="button"
        id="selection-left"
      ></span>
      <span
        class="icon-circle-arrow-right"
        type="button"
        id="selection-right"
      ></span>
    </div>
  </div>
</div>
