<div class="container-with-padding my-18 my-md-30 mx-auto" id="table_story">
  <!-- 餐桌故事 上方文字 -->
  <div class="d-flex justify-content-between mb-24 mb-md-16">
    <div class="h2 h-md-3 text-primary">餐桌故事</div>
    <div class="Body2 text-black">
      全部評論 <span class="icon-arrow-right-tiny"></span>
    </div>
  </div>
  <!-- 餐桌故事 卡片區  -->
  <div
    class="container-with-padding d-flex flex-row overflow-hidden mb-14 mb-md-22"
    id="tableStory-cards"
  >
    <!-- 1st Card -->
    <div class="tableStory-card">
      <!-- <div class="d-flex flex-column"> -->
      <div class="top_area">
        <img
          class="user_img d-block"
          src="/assets/images/index/story-1.jpg"
          alt="story1 user image"
        />

        <div class="user_name">Jessie</div>
      </div>
      <div class="title">黑胡椒蜜汁豬排</div>
      <div class="description text-limit">
        醬汁味道剛好，甜中帶點胡椒辣味，超下飯！肉質煎得很嫩，家人一口接一口，隔天還被點名再做一次。
      </div>
      <div>
        <span class="Body2 text-text-grey">難度：</span>
        <span class="rating-stars" data-rating="5"></span>
      </div>
    </div>

    <!-- 2st Card -->
    <div class="tableStory-card">
      <!-- <div class="d-flex flex-column"> -->
      <div class="top_area">
        <img
          class="user_img d-block"
          src="/assets/images/index/story-2.jpg"
          alt="story2 user image"
        />

        <div class="user_name">Annie</div>
      </div>
      <div class="title">檸香奶油煎鮭魚</div>
      <div class="description text-limit">
        第一次按照食譜做鮭魚，沒想到成功率100%！
        食材新鮮到不行，煎出來的魚肉外酥內嫩，檸檬香氣超開胃！
      </div>
      <div>
        <span class="Body2 text-text-grey">難度：</span>
        <span class="rating-stars" data-rating="5"></span>
      </div>
    </div>

    <!-- 3st Card -->
    <div class="tableStory-card">
      <!-- <div class="d-flex flex-column"> -->
      <div class="top_area">
        <img
          class="user_img d-block"
          src="/assets/images/index/story-3.jpg"
          alt="story3 user image"
        />

        <div class="user_name">Ian</div>
      </div>
      <div class="title">蒜香奶油烤花椰菜</div>
      <div class="description text-limit">
        沒想到花椰菜烤過那麼香，蒜香奶油的味道很濃郁，連平常不愛吃菜的小朋友都搶著吃，唯一就是烤箱要注意時間，太久會稍微乾。
      </div>
      <div>
        <span class="Body2 text-text-grey">難度：</span>
        <span class="rating-stars" data-rating="4"></span>
      </div>
    </div>

    <!-- 4st Card -->
    <div class="tableStory-card">
      <!-- <div class="d-flex flex-column"> -->
      <div class="top_area">
        <img
          class="user_img d-block"
          src="/assets/images/index/story-4.jpg"
          alt="story4 user image"
        />

        <div class="user_name">Ian</div>
      </div>
      <div class="title">素炒羅漢齋</div>
      <div class="description text-limit">
        富含高蛋白質的百果，新鮮埔里的香菇，當令的脆筍，是素食者的最愛。
      </div>
      <div>
        <span class="Body2 text-text-grey">難度：</span>
        <span class="rating-stars" data-rating="3"></span>
      </div>
    </div>
  </div>
</div>
<!-- 餐桌故事 card向左、向右按鈕-->
<div class="w-100 d-flex justify-content-center">
  <div class="text-primary">
    <span
      class="icon-circle-arrow-left me-12"
      type="button"
      id="tableStory_left"
    ></span>
    <span
      class="icon-circle-arrow-right"
      type="button"
      id="tableStory_right"
    ></span>
  </div>
</div>
