<div class="d-none" id="recipe-repository">
  <!-- Meat 1st Card -->
  <div class="category-card meat">
    <img
      src="/assets/images/index/meat-1.png"
      class="img_normal"
      alt="檸香迷迭烤雞腿排 png"
    />
    <img
      src="/assets/images/index/meat-1b.png"
      class="img_hover"
      alt="檸香迷迭烤雞腿排 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">檸香迷迭烤雞腿排</div>
          <div class="Body2 limit-length">
            外皮酥香、肉質鮮嫩，佐以檸檬的清爽與迷迭香的芳香，簡單烘烤就能端上餐桌的經典家常菜。
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="3"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">20分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">2人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>
  <!-- Meat 2nd Card -->
  <div class="category-card meat">
    <img
      src="/assets/images/index/meat-2.png"
      class="img_normal"
      alt="黑胡椒蜜汁豬排 png"
    />
    <img
      src="/assets/images/index/meat-2b.png"
      class="img_hover"
      alt="黑胡椒蜜汁豬排 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">黑胡椒蜜汁豬排</div>
          <div class="Body2 limit-length">
            外層香煎鎖汁，淋上香甜微辣的黑胡椒蜜汁，口感濃郁又下飯。
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="4"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">40分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">2人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>

  <!-- Meat 3th Card -->
  <div class="category-card meat">
    <img
      src="/assets/images/index/meat-3.png"
      class="img_normal"
      alt="香草烤羊排 png"
    />
    <img
      src="/assets/images/index/meat-3b.png"
      class="img_hover"
      alt="香草烤羊排 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">香草烤羊排</div>
          <div class="Body2 limit-length">
            鮮嫩多汁的羊排佐以迷迭香與百里香烘烤，香氣四溢，入口回甘。
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="5"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">30分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">2人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>
  <!-- Meat 4th Card -->
  <div class="category-card meat">
    <img
      src="/assets/images/index/meat-4.png"
      class="img_normal"
      alt="日式咖哩雞腿 png"
    />
    <img
      src="/assets/images/index/meat-4b.png"
      class="img_hover"
      alt="日式咖哩雞腿 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">日式咖哩雞腿</div>
          <div class="Body2 limit-length">
            日式甜口咖哩、蛋白質含量高卻又少油的雞腿、加上些許果腹的馬鈴薯；是於不同情境食用。
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="2"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">30分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">4人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>

  <!-- Seafood 3th 1st Card -->
  <div class="category-card seafood">
    <img
      src="/assets/images/index/seafood-1.png"
      class="img_normal"
      alt="檸香奶油煎鮭魚 png"
    />
    <img
      src="/assets/images/index/seafood-1b.png"
      class="img_hover"
      alt="檸香奶油煎鮭魚 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">檸香奶油煎鮭魚</div>
          <div class="Body2 limit-length">
            外皮酥香、肉質鮮嫩，佐以檸檬的清爽與迷迭香的芳香，不需太多調味料就可以做出餐廳級的味道
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="3"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">20分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">2人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>
  <!-- Seafood 3th 2nd Card -->
  <div class="category-card seafood">
    <img
      src="/assets/images/index/seafood-2.png"
      class="img_normal"
      alt="奶油清蒸波士頓龍蝦 png"
    />
    <img
      src="/assets/images/index/seafood-2b.png"
      class="img_hover"
      alt="奶油清蒸波士頓龍蝦 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">奶油清蒸波士頓龍蝦</div>
          <div class="Body2 limit-length">
            波士頓龍蝦盛產於秋、冬之際，歐、美人士多喜清蒸、煮；佐以奶油沾醬，可以最大程度保存龍蝦原味。
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="1"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">10分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">2人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>
  <!-- Seafood 3th  3th Card -->
  <div class="category-card seafood">
    <img
      src="/assets/images/index/seafood-3.png"
      class="img_normal"
      alt="紫菜蚵煎蛋 png"
    />
    <img
      src="/assets/images/index/seafood-3b.png"
      class="img_hover"
      alt="紫菜蚵煎蛋 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">紫菜蚵煎蛋</div>
          <div class="Body2 limit-length">
            蚵煎蛋是道地台灣美食，加上紫菜更把海洋的味道完整包覆；是到營養、可口的美食。
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="2"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">10分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">4人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>

  <!-- Vegetable 1st Card -->
  <div class="category-card vegetable">
    <img
      src="/assets/images/index/veg-1.png"
      class="img_normal"
      alt="菱角燴鮮蔬 png"
    />
    <img
      src="/assets/images/index/veg-1b.png"
      class="img_hover"
      alt="菱角燴鮮蔬 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">菱角燴鮮蔬</div>
          <div class="Body2 limit-length">
            美味的素食料理，喜歡素食的朋友可以嘗試做這道佳餚，家中宴客擺上這道素食佳餚。
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="3"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">10分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">4人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>
  <!-- Vegetable  2nd Card -->
  <div class="category-card vegetable">
    <img
      src="/assets/images/index/veg-2.png"
      class="img_normal"
      alt="菱角燴鮮蔬 png"
    />
    <img
      src="/assets/images/index/veg-2b.png"
      class="img_hover"
      alt="菱角燴鮮蔬 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">暖心猴頭菇素腰花</div>
          <div class="Body2 limit-length">
            猴頭菇性平味甘，有利五臟、助消化、滋補身體等功效，並增強免疫功能，這道「暖心猴頭菇素腰花料理」，使用麻油猴頭菇料理包，搭配素腰花、甜豆烹煮，簡單易學好上手，健康又美味！
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="4"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">30分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">6人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>
  <!-- Vegetable  3th Card -->
  <div class="category-card vegetable">
    <img
      src="/assets/images/index/veg-3.png"
      class="img_normal"
      alt="芹菜豆腐 png"
    />
    <img
      src="/assets/images/index/veg-3b.png"
      class="img_hover"
      alt="芹菜豆腐 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">芹菜豆腐</div>
          <div class="Body2 limit-length">
            芹菜含鉀利尿、安眠；豆腐則含豐富蛋白。這道菜兼顧營養、纖維，是素食良伴！
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="1"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">10分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">4人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>

  <!--  Vegetable 4th Card -->
  <div class="category-card vegetable">
    <img
      src="/assets/images/index/veg-4.png"
      class="img_normal"
      alt="橙柚西檬鴨 png"
    />
    <img
      src="/assets/images/index/veg-4b.png"
      class="img_hover"
      alt="橙柚西檬鴨 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">橙柚西檬鴨</div>
          <div class="Body2 limit-length">
            以橙汁、柚肉、檸檬來調理醃炸素鴨；是道宴客菜！
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="5"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">40分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">8人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>
  <!-- Vegetable  5th Card -->
  <div class="category-card vegetable">
    <img
      src="/assets/images/index/veg-5.png"
      class="img_normal"
      alt="吉祥福袋 png"
    />
    <img
      src="/assets/images/index/veg-5b.png"
      class="img_hover"
      alt="吉祥福袋 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">吉祥福袋</div>
          <div class="Body2 limit-length">
            吉祥福袋是一道手作菜，小巧精緻非常喜氣！主廚將多種食材切細、炒香、調味料理後，包入福袋豆皮中，外表就象古時候的錢袋，也有財源滾滾之象徵。將福袋一口咬下，醬汁及餡料在嘴中化開，絕對是一道新年餐桌上的人氣
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="4"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">30分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">4人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>

  <!-- vegetarian  1th Card -->
  <div class="category-card vegetarian">
    <img
      src="/assets/images/index/vegetarian-1.png"
      class="img_normal"
      alt="素食麻婆豆腐 png"
    />
    <img
      src="/assets/images/index/vegetarian-1b.png"
      class="img_hover"
      alt="素食麻婆豆腐 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">素食麻婆豆腐</div>
          <div class="Body2 limit-length">
            豆腐富含蛋白質、加上醬油醃過植物肉末，佐以花椒粒大火炒香。是一道最下飯的家常菜。
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="1"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">20分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">2人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>
  <!-- vegetarian  2nd Card -->
  <div class="category-card vegetarian">
    <img
      src="/assets/images/index/vegetarian-2.png"
      class="img_normal"
      alt="左宗棠燒獅子丸 png"
    />
    <img
      src="/assets/images/index/vegetarian-2b.png"
      class="img_hover"
      alt="左宗棠燒獅子丸 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">左宗棠燒獅子丸</div>
          <div class="Body2 limit-length">
            左宗棠燒獅子丸，炸至金黃色的外皮、內有豐富的新鮮內餡，外表再裹上特製酸甜醬料，口感Q彈超下飯，絕對是一道新年餐桌上的人氣料理
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="5"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">40分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">6人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>

  <!-- ketogenic  1th Card -->
  <div class="category-card ketogenic">
    <img
      src="/assets/images/index/ketogenic-1.png"
      class="img_normal"
      alt="黑胡椒雞胸 png"
    />
    <img
      src="/assets/images/index/ketogenic-1b.png"
      class="img_hover"
      alt="黑胡椒雞胸 png"
    />
    <div class="card_body d-flex flex-column justify-content-between">
      <div
        class="inner-width description-height d-flex flex-column justify-content-between me-6"
      >
        <div class="d-flex flex-column justify-content-start">
          <div class="h4 mb-8 mb-md-8">黑胡椒雞胸</div>
          <div class="Body2 limit-length">
            雞胸肉佐上 玫瑰鹽、黑胡椒、橄欖油
            美味自不在話下；另外充滿自然能量的酪梨更增加了口感與風味！！
          </div>
        </div>
        <div class="Body2">
          難度：<span class="rating-stars" data-rating="1"></span>
        </div>
      </div>
      <!-- last portion change layout when hover  -->
      <div class="last-portion">
        <!-- portion-1 -->
        <div class="d-flex flex-row justify-content-evenly portion1">
          <div class="d-flex flex-row align-items-center">
            <div class="icon-clock me-6"></div>
            <div class="Body2 text-primary">20分鐘</div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="icon-people me-6"></div>
            <div class="Body2 text-primary">2人份</div>
          </div>
        </div>
        <!-- portion-2 -->
        <div class="btn btn-secondary portion2">查看食譜</div>
      </div>
    </div>
  </div>
</div>
