<div class="w-100 pt-18 pt-md-16 pb-8 bg-footer">
  <div class="container pt-0 pt-md-8 d-flex flex-column align-content-center">
    <!-- foot image 區 -->
    <div class="d-flex justify-content-center mb-7 mb-md-20">
      <img
        src="/assets/images/logo_wide_small.png"
        alt="此食此刻logo 寬、小"
        class="d-block d-md-none"
      />
      <img
        src="/assets/images/logo_wide_small.png"
        alt="此食此刻logo 寬、大"
        class="d-none d-md-block"
      />
    </div>
    <!-- foot menu 區 -->
    <div class="d-block py-4 footer-area">
      <ul
        class="footer-menu list-unstyled d-flex justify-content-evenly h5 text-primary"
      >
        <li class="mb-10 mb-md-0">客戶支援</li>
        <li class="mb-10 mb-md-0">常見問題</li>
        <li>聯絡我們</li>
      </ul>
    </div>
    <!-- footer trad mark -->
    <span class="Body2 text-text-grey m-auto">Copyright ©2025 此食此刻</span>
  </div>
</div>
