.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 69px;

  @media (min-width: 768px) {
    height: 80px;
  }
}

.cart-tag {
  height: 20px;
  top: -5px;
  right: 5px;
  font-size: 12px;
  line-height: 1.34;
  z-index: -1;
}

.header .dropdown-item:active {
  background-color: wheat;
}
.avatar {
  width: 28px;
  height: 28px;
}

.header-avatar:active {
  background-color: $white;
}
