<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- header -->
    <%- include("./layout/header"); -%>

    <div class="heading_top_offset">
      <!-- banner -->
      <%- include("./layout/index/index_1"); -%>
      <a href="component_demo.html" class="h2 d-block m-20">
        設計稿guideline 共用元件 demo頁</a
      >
      <!-- footer -->
      <%- include("./layout/footer"); -%>
    </div>

    <script type="module" src="../main.js"></script>
    <script type="module" src="/assets/js/tools.js"></script>
  </body>
</html>
