<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/scss/pages/_test.scss" class="sc" />
    <title>Document</title>
  </head>
  <body>
    <!-- header -->
    <%- include("./layout/header"); -%>

    <div class="heading_top_offset">
      <!-- banner 1 -->
      <%- include("./layout/index/index_1") -%>
      <a href="component_demo.html" class="h2 d-block m-20" target="_blank">
        設計稿guideline中的<span class="text-Accent"> 共用元件</span> demo頁</a
      >
      <!-- recip 2 -->
      <%- include("./layout/index/index_2") -%>
      <!-- popular selections 3 -->
      <%- include("./layout/index/index_3") -%>
      <!-- about us 4 -->
      <%- include("./layout/index/index_4") -%>
      <!-- Table Story 5 -->
      <%- include("./layout/index/index_5") -%>
      <!-- policy -->
      <%- include("./layout/index/index_6") -%>
      <!-- footer -->
      <%- include("./layout/footer"); -%>
    </div>

    <script type="module" src="../main.js"></script>
    <script type="module" src="/assets/js/tools.js"></script>
    <script type="module" src="/assets/js/index.js"></script>
  </body>
</html>
